<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007047588196-nc2viea9rn9p3sm4o3aoc8ugls8o267l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007047588196-nc2viea9rn9p3sm4o3aoc8ugls8o267l</string>
	<key>API_KEY</key>
	<string>AIzaSyBVUvuvX7vv3fSlHZvCRToq_sptBtYpdNA</string>
	<key>GCM_SENDER_ID</key>
	<string>1007047588196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mytodolis</string>
	<key>PROJECT_ID</key>
	<string>mytodolist-16f37</string>
	<key>STORAGE_BUCKET</key>
	<string>mytodolist-16f37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007047588196:ios:0b7e1d97e6858443492271</string>
</dict>
</plist>